.subscribes{
    display: flex;
    width: 100%;
    max-width: 100vw;
    height: 100vh;
    background: #212427;
    justify-content: center;
}
.subscribesContainer{
    display: flex;
    width: 80%;
    margin-top: 100px;
}

.subscribesWrapper{
    display: flex;
    flex-direction: column;
    width: 100%;
}